PORT=3303

CUSTOMER_CODE=wnyh

#vending code
VENDING_CODE=FFFFFF12
DOOR_TYPE_STANDBY=[1,2,3]
DOOR_TYPE_NOW=[1,2,3]

#Mogan
APP_TIMEZONE=Asia/Bangkok
API_LOG_RETENTION_DAYS=30


##Vending
SERIAL_VENDING=COM6 #/dev/ttyUSB0
SERIAL_VENDING_BAUD_RATE=9600

##Navigation Lights
SERIAL_NAVIGATION_LIGHTS= COM144 #/dev/ttyUSB1
SERIAL_NAVIGATION_LIGHTS_BAUD_RATE=115200

##QR NFC
SERIAL_QR_NFC= COM3 #/dev/ttyUSB2
SERIAL_QR_NFC_BAUD_RATE=115200
SERIAL_WRITE_TIMEOUT_MS=3000
SERIAL_API_TIMEOUT_MS=5000

# MQTT (publish qr-nfc serial data)
MQTT_ENABLED=true
MQTT_BROKER_URL=mqtt://rd.ns.co.th:1883
MQTT_CLIENT_ID=vending-3d-ctl
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_QRNFC_TOPIC=hm/${CUSTOMER_CODE}/${VENDING_CODE}/reader
MQTT_QRNFC_MIFARE_SIGNATURE=02,FF,01,09,00
MQTT_QRNFC_BARCODE_WNY_SIGNATURE_REGEX=([0-9a-f\-]{36})_(\d{8})_(\d+)_(\d+)_(IN|OUT)_(\d{14})
MQTT_QRNFC_QOS=0
MQTT_QRNFC_RETAIN=false
