PORT=3303

# Vending identifier/code
VENDING_CODE=FFFFFFFF
DOOR_TYPE_STANDBY=[1,2,3]
DOOR_TYPE_NOW=[1,2,3]

#Mogan
APP_TIMEZONE=Asia/Bangkok
API_LOG_RETENTION_DAYS=30


SERIAL_VENDING= COM10 #/dev/ttyUSB0
SERIAL_VENDING_BAUD_RATE=115200
SERIAL_NAVIGATION_LIGHTS= COM11 #/dev/ttyUSB1
SERIAL_NAVIGATION_LIGHTS_BAUD_RATE=115200
SERIAL_QR_NFC= COM12 #/dev/ttyUSB2
SERIAL_QR_NFC_BAUD_RATE=115200
SERIAL_WRITE_TIMEOUT_MS=3000
